IG-News Automation/IG_news_automation.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract and structure crypto news articles\nconst response = items[0].json;\nconst articles = response.news || response.results || [];\n\nconsole.log(`Received ${articles.length} crypto articles from World News API`);\n\n// Filter and structure articles with required fields\nconst structuredArticles = articles\n  .filter(article => {\n    // Basic quality checks\n    return article.title && \n           article.text && \n           article.url && \n           article.text.length > 100 &&\n           !article.title.toLowerCase().includes('[removed]');\n  })\n  .map((article, index) => {\n    // Create structured article object\n    return {\n      id: index + 1,\n      headline: article.title.trim(),\n      summary: article.text.substring(0, 300).trim() + '...',\n      full_text: article.text,\n      news_url: article.url,\n      publish_date: article.publish_date,\n      sentiment: article.sentiment || 0,\n      source: article.source || 'Unknown'\n    };\n  });\n\nconsole.log(`Processed ${structuredArticles.length} valid crypto articles`);\n\nif (structuredArticles.length === 0) {\n  throw new Error('No valid cryptocurrency articles found');\n}\n\n// Return all articles as a single item containing the array\nreturn [{ json: { articles: structuredArticles, total_count: structuredArticles.length } }];"
      },
      "id": "0a81dd89-a03f-4f41-91dc-f497eca23ee9",
      "name": "Structure Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        220
      ]
    },
    {
      "parameters": {
        "model": "mistral:7b-instruct",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        440,
        400
      ],
      "id": "57008f3c-f8fd-486a-9ebf-e86b4283a3e8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "v1D3IIUz40gqX0Vk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"id\": \"id of the article\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        400
      ],
      "id": "9568761d-0d5e-453e-8b26-db63bc32569f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "mistral:7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        520
      ],
      "id": "a2140c0b-0c28-474d-93be-6217e86a940b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "v1D3IIUz40gqX0Vk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run-once-for-all-items\n// 1. keep the full array for later look-ups\nconst original = $json.articles;\n\n// 2. shrink each object to id | headline | summary\nconst mini = original.map((a, i) => {\n  const n = i + 1;\n  return [\n    `Article ${n} (id ${a.id})`,\n    `Headline: ${a.headline}`,\n    `Summary:  ${a.summary}`,\n  ].join('\\n');\n});\n\n// 3. join with a blank line → single string\nconst promptStr = mini.join('\\n\\n');\n\nreturn [{\n  json: {\n    prompt_articles: promptStr,   // for the LLM\n    original        // keep full objects for later\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        220
      ],
      "id": "7c5ac172-6414-4af0-b3ba-20e283a5532c",
      "name": "Article Ranking Prompt"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"hook\": \"Catchy ≤10-word teaser\",\n  \"headline\": \"Short 20-word headline\",\n  \"pt1\": \"Bullet 1 text (≤20 words)\",\n  \"pt2\": \"Bullet 2 text\",\n  \"pt3\": \"Bullet 3 text\",\n  \"pt4\": \"Bullet 4 text\",\n  \"pt5\": \"Bullet 5 text\",\n  \"pt6\": \"Bullet 6 text\",\n  \"pt7\": \"Bullet 7 text\",\n  \"pt8\": \"Bullet 8 text\",\n  \"pt9\": \"Bullet 9 text\",\n  \"pt10\": \"Bullet 10 text\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1160,
        380
      ],
      "id": "92bab43c-c2c0-4520-9fc9-3b02fabf1324",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "mistral:7b-instruct",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1160,
        520
      ],
      "id": "2261a547-ffb1-430f-936e-a6390187e745",
      "name": "Ollama Output Parser",
      "credentials": {
        "ollamaApi": {
          "id": "v1D3IIUz40gqX0Vk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[\n  {\n    \"role\": \"system\",\n        \"content\": \"You are WeirdNewsSelector. Pick exactly ONE article that best represents the most bizarre or unusual news now. Rank candidates in this order:\n    \n    ① oddity / novelty value (“man-bites-dog” factor)\n    ② published within 48 h\n    ③ potential for viral social sharing or shock value\n    ④ broad reader curiosity. \n    \n    Return ONLY the full JSON object of the winning article—no extra keys, commentary, or markdown.\"\n  \n},\n  \n{\n    \"role\": \"user\",\n    \"content\": \"Here is the array of articles:\n\n      ---------------\n      {{ $json.prompt_articles }}\n      ---------------\n      \n      Respond with the single selected article JSON.\"\n  }\n]",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        440,
        220
      ],
      "id": "56fa268a-60e9-46e7-b126-273c9b3ebc3c",
      "name": "Ollama Ranker Agent"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst id = $input.first().json.output.id\nreturn $('Article Ranking Prompt').first().json.original[id-1]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        220
      ],
      "id": "e71a715d-82d5-4d7d-9caa-665bd273b5c7",
      "name": "Choose Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are SlideContentMaker. Summarise the article below for a 4-slide Instagram carousel and respond **ONLY** with valid JSON.\n\nRules\n• \"hook\" ≤ 10 words (slide 1 teaser)  \n• \"headline\" ≤ 20 words (slide 2 title)  \n• Exactly 10 bullet points (\"pt1\"-\"pt10\"), ≤ 20 words each, written in simple story language—no jargon, no fancy words (slides 3-4).\n\nNote: Total words shouldn't exceed 110 words, it's a hard limit\n\nReturn JSON — no markdown, no extra keys:\n\n{\"hook\":\"<string>\",\n  \"headline\":\"<string>\",\n  \"pt1\":\"…\",\n  \"pt2\":\"…\",\n  \"pt3\":\"…\",\n  \"pt4\":\"…\",\n  \"pt5\":\"…\",\n  \"pt6\":\"…\",\n  \"pt7\":\"…\",\n  \"pt8\":\"…\",\n  \"pt9\":\"…\",\n  \"pt10\":\"…\"}\n\n---------------\n{{ $json.full_text }}\n---------------",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1080,
        220
      ],
      "id": "5821f3db-177d-490d-8385-9577378142fc",
      "name": "Create Crousel"
    },
    {
      "parameters": {
        "model": "mistral:7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1060,
        380
      ],
      "id": "7f8a4c4f-7245-4451-b461-5c30f46be35c",
      "name": "Ollama Crousel",
      "credentials": {
        "ollamaApi": {
          "id": "v1D3IIUz40gqX0Vk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "pageObjectIds": "=",
              "text": "{{hook}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.hook }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{headline}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.headline }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt1}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt1 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt2}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt2 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt3}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt3 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt4}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt4 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt5}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt5 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt6}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt6 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt7}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt7 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt8}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt8 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt9}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt9 }}"
            },
            {
              "pageObjectIds": "=",
              "text": "{{pt10}}",
              "replaceText": "={{ $('Create Crousel').item.json.output.pt10 }}"
            }
          ]
        },
        "options": {
          "revisionId": ""
        }
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        2060,
        220
      ],
      "id": "d2a323b6-0838-4eac-9af8-d2ef63ba9443",
      "name": "Replace text in a presentation",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "CEjbYZH9qkY1L3yA",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1500,
        220
      ],
      "id": "88e6c21c-1874-4c08-beaf-c348bf79f8d0",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "7Nsk1WTeIRn8mJdE",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getSlides",
        "presentationId": "={{ $json.presentationId }}",
        "returnAll": true
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        2220,
        220
      ],
      "id": "3f0889f5-ecd8-4c5f-9e26-68fbba6c8194",
      "name": "Get slides from a presentation",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "CEjbYZH9qkY1L3yA",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Fetch Instagram ID').item.json.instagram_business_account.id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Get the thumbnail for a page').item.json.contentUrl }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              },
              {
                "name": "access_token",
                "value": "={{ $('Facebook Graph API').item.json.data[0].access_token }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2800,
        300
      ],
      "id": "194bdca7-e34b-4026-b34d-3bccec195f20",
      "name": "Upload Pages",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "7Nsk1WTeIRn8mJdE",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getThumbnail",
        "presentationId": "={{ $('Replace text in a presentation').item.json.presentationId }}",
        "pageObjectId": "={{ $json.objectId }}"
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "id": "4e152a05-a0a0-496c-b830-97dbfce1d390",
      "name": "Get the thumbnail for a page",
      "executeOnce": false,
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "CEjbYZH9qkY1L3yA",
          "name": "Google Slides account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json.data[0].id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "instagram_business_account"
              },
              {
                "name": "access_token",
                "value": "={{ $('Facebook Graph API').item.json.data[0].access_token }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1660,
        220
      ],
      "id": "d9dbcd2a-2324-4671-b608-85b10412e19f",
      "name": "Fetch Instagram ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "7Nsk1WTeIRn8mJdE",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "children",
        "include": "specifiedFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2640,
        100
      ],
      "id": "31d08795-ccf4-4779-875b-2f025e37f8d4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1nPQioIkFBhOwOPQVzY7J_E57OKosPR6y9hJ8UOiW3j0",
          "mode": "list",
          "cachedResultName": "World News",
          "cachedResultUrl": "https://docs.google.com/presentation/d/1nPQioIkFBhOwOPQVzY7J_E57OKosPR6y9hJ8UOiW3j0/edit?usp=drivesdk"
        },
        "name": "={{ $('Create Crousel').item.json.output.hook }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Q6GUsxYqpXsUaEpVk_GKhwHsXe58PUem",
          "mode": "list",
          "cachedResultName": "InstaBot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q6GUsxYqpXsUaEpVk_GKhwHsXe58PUem"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1900,
        220
      ],
      "id": "37cca1c6-711e-420e-847b-467a5b801f60",
      "name": "Create New PPT",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q0pPfz20TINGsVKh",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2460,
        220
      ],
      "id": "3fa16aad-9f23-4aa5-95c8-8b9145ff7099",
      "name": "Loop Over Slides"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef299cf6-8b0e-4aed-969b-6238b3b4dfb8",
              "name": "children",
              "value": "={{ $json.children.map(c => c.id)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        100
      ],
      "id": "b0b0451f-334b-4930-ba4b-db6f68bf1e37",
      "name": "List Containers"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Fetch Instagram ID').item.json.instagram_business_account.id }}",
        "edge": "media",
        "options": {
          "queryParametersJson": "={\n    \"children\": {{ $json.children }},\n    \"media_type\": \"CAROUSEL\",\n    \"caption\": \"successful\"\n  }"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3020,
        100
      ],
      "id": "957efa2a-bf14-4033-88ec-290f37324130",
      "name": "Upload Crousel",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "7Nsk1WTeIRn8mJdE",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Fetch Instagram ID').item.json.instagram_business_account.id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "access_token",
                "value": "={{ $('Facebook Graph API').item.json.data[0].access_token }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3160,
        100
      ],
      "id": "23dad143-a11c-487c-8178-d3949b11d0bc",
      "name": "Publish Crousel",
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "7Nsk1WTeIRn8mJdE",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create New PPT').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3400,
        100
      ],
      "id": "3c276a23-f158-4778-91e9-3d4fa297f0e5",
      "name": "Drive Cleanup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q0pPfz20TINGsVKh",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "f575b9d5-694c-4e44-a1ee-334e7adb9017",
      "name": "Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -340,
        220
      ]
    },
    {
      "parameters": {
        "url": "https://api.worldnewsapi.com/search-news",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$env.WORLDNEWS_API_KEY}}"
            },
            {
              "name": "text",
              "value": "paranormal OR weird OR unusual OR strange"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sort",
              "value": "publish-time"
            },
            {
              "name": "sort-direction",
              "value": "desc"
            },
            {
              "name": "number",
              "value": "10"
            },
            {
              "name": "earliest-publish-date",
              "value": "={{DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd')}}"
            },
            {
              "name": "latest-publish-date",
              "value": "={{DateTime.now().toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0586a2d0-97fd-48cd-8a5e-ef474fb830ee",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Fetch Latest News Articles\n",
        "height": 280,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        140
      ],
      "id": "1a3effe9-fd1b-454e-8988-7983d95da465",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Choose Most Relevant Article\n",
        "height": 520,
        "width": 660,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        140
      ],
      "typeVersion": 1,
      "id": "a0dc0cee-d08f-4c8c-9235-7e752624fe71",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate CROUSEL Data\n\n",
        "height": 520,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        140
      ],
      "typeVersion": 1,
      "id": "513cc8ca-c2fb-47a9-b9ac-23a7dfa319f8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Fetch Account Info\n",
        "height": 280,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        140
      ],
      "typeVersion": 1,
      "id": "ea443964-34e8-4818-beb6-540d20877cc1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create Slides for the Crousel",
        "height": 280,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        140
      ],
      "typeVersion": 1,
      "id": "4bcdb8e1-b6bf-41bd-9f0d-9cde8da81c41",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Upload CROUSEL on Instagram\n",
        "height": 540,
        "width": 900,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        20
      ],
      "typeVersion": 1,
      "id": "21a6ea84-3c97-4f2b-9765-51a74583e016",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Structure Articles": {
      "main": [
        [
          {
            "node": "Article Ranking Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ollama Ranker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ollama Ranker Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Article Ranking Prompt": {
      "main": [
        [
          {
            "node": "Ollama Ranker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Create Crousel",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Output Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Ranker Agent": {
      "main": [
        [
          {
            "node": "Choose Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Article": {
      "main": [
        [
          {
            "node": "Create Crousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Crousel": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Crousel": {
      "ai_languageModel": [
        [
          {
            "node": "Create Crousel",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in a presentation": {
      "main": [
        [
          {
            "node": "Get slides from a presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Fetch Instagram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get slides from a presentation": {
      "main": [
        [
          {
            "node": "Loop Over Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Pages": {
      "main": [
        [
          {
            "node": "Loop Over Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the thumbnail for a page": {
      "main": [
        [
          {
            "node": "Upload Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram ID": {
      "main": [
        [
          {
            "node": "Create New PPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "List Containers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New PPT": {
      "main": [
        [
          {
            "node": "Replace text in a presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Slides": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get the thumbnail for a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Containers": {
      "main": [
        [
          {
            "node": "Upload Crousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Crousel": {
      "main": [
        [
          {
            "node": "Publish Crousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Crousel": {
      "main": [
        [
          {
            "node": "Drive Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "Structure Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f173f992538a3658fe991594fa85c5d821e2bc77d73d57ba34b672ac16645fe3"
  }
}